# open this file
# $FZF_DEFAULT_OPTS = "--bind up:preview-up,down:preview-down,ctrl-u:preview-half-page-up,ctrl-d:preview-half-page-down"
alias cat='bat'
alias ls='exa'
alias aliases='nvim $HOME/.config/nvim/.aliases' 
alias zshrc='nvim $HOME/.zshrc' 

# Programs
alias vim='nvim'

# GIT Aliases
alias g='git'
alias gpsh='git push origin'
alias gpshc='git push origin $(git branch --show-current)'
alias gpl='git pull --ff origin'
alias gplr='git pull --rebase origin $(git branch --show-current)'
alias gplc='git pull --ff origin $(git branch --show-current)'
alias gth='git reset --hard $(git rev-parse origin/$(git branch --show-current))'
alias glpr='gh pr list --author @me'
alias glprw='gh pr list --author @me --web'
## Creates a new branch by the output of text editor
cb(){
    cbn $1 | vipe | xargs -I{} git checkout -b "{}"
}
##Git checkout iteractive
coi(){
    git branch | peco | xargs -I{} git checkout {}
}
## Git merge interactive
mi(){
    git branch | peco | xargs -I{} git merge {}
}
## Creates a PR
gcpr(){
    echo $1 | vipe | xargs -I{} gh pr --title "{}" create -F "./pull_request_template.md" --base production -d
}

run_specs(){
  FILES_TO_TEST=$(git diff --name-only origin/production | grep "[^_spec].rb" | sed 's/^app/spec/' | sed 's/.rb$/_spec.rb/')
  if [ -n "$FILES_TO_TEST" ]; then
      echo "Running the following changed specs"
      echo $FILES_TO_TEST
      bundle exec rspec -f d $FILES_TO_TEST
  fi
}

rubymine(){
  if [ -n "$1" ]; then
      open -na "RubyMine.app" --args "$1"
  else
      open -na "RubyMine.app"
  fi
}

# SO stuff
##List ips
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
## kill process on port $1
kp() {
    sudo kill -9 $(sudo lsof -t -i:$1)
}
## list process on port $1
lp() {
    sudo lsof -t -i:$1
}

# Archives
function extract {
  if [ -z "$1" ]; then
    echo "Usage: extract <path/file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
  else
    if [ -f $1 ]; then
      case $1 in
        *.tar.bz2)   tar xvjf $1    ;;
        *.tar.gz)    tar xvzf $1    ;;
        *.tar.xz)    tar xvJf $1    ;;
        *.lzma)      unlzma $1      ;;
        *.bz2)       bunzip2 $1     ;;
        *.rar)       unrar x -ad $1 ;;
        *.gz)        gunzip $1      ;;
        *.tar)       tar xvf $1     ;;
        *.tbz2)      tar xvjf $1    ;;
        *.tgz)       tar xvzf $1    ;;
        *.zip)       unzip $1       ;;
        *.Z)         uncompress $1  ;;
        *.7z)        7z x $1        ;;
        *.xz)        unxz $1        ;;
        *exe)       cabextract $1  ;;
        *)           echo "extract: '$1' - unknown archive method" ;;
      esac
    else
      echo "$1 - file does not exist"
    fi
  fi
}

# Programing Commands
## Runing rpsec
alias bersd='bundle exec rspec -f d'
